@{
    ViewData["Title"] = "Index";
}
<!-- start: APP CONTENT -->
<div class="app-content">
    <div class="main-content" style="padding-bottom:0px">
        <section id="page-title" class="page-title-background fade-img" style="background-image: url('assets/images/bg1.jpg')">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </section>
        <section class="container-fluid container-fullw">
            <div class="container">
                <h1 style="text-align:center">OUR APP AND SERVICES</h1>
                <div data-appears-group-delay="0" data-appears-delay-increase="80">
                    <div class="row">
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-desktop fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Web App For Education</h4>
                                        <p>
                                            This Web App for Education harnesses the power of AI to cater to diverse learning styles and preferences.
                                            For those in search of a mathematical solution, effortlessly pose your queries by submitting equations in image format. Whether you prefer asking questions through audio or text,
                                            our platform seamlessly caters to your diverse needs. Embrace the future of education with our AI-driven solution—where asking questions is as dynamic as the learning journey itself!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-diamond fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Clean Design</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-rocket fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Parallax Effects</h4>
                                        <p>
                                            Everyone loves parallax scrolling effects, they are simply beautiful. ConnectTo.Ai has advanced parallax options &amp; controls.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-life-ring fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Free updates &amp; support</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-cubes fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Incredibly Flexible</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-picture-o fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Awesome Sliders</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-flag-checkered  fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Translation &amp; RTL</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-eye fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Retina Ready</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div data-appears-class="fadeIn" class="padding-top-40 padding-bottom-40">
                                <div class="pull-left" data-appears-class="bounceIn">
                                    <i class="text-primary fa fa-cogs fa-3x"></i>
                                </div>
                                <div>
                                    <div class="padding-left-50">
                                        <h4 class="margin-bottom-25 text-uppercase">Unlimited Options</h4>
                                        <p>
                                            A small river named Duden flows by their place and supplies it with the necessary regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- start: FOOTER -->
    <footer id="footer" style="padding-top: 0px;height: 0px;">
        <!--<div class="container">
            <div class="row">
                <div class="col-md-3 padding-bottom-25">
                    <a class="logo" href="index.html"> <img alt="ConnectTo.Ai" src="assets/images/logo2.png"> </a>
                    <p class="padding-top-20">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Nulla consequat massa quis enim. Donec pede justo fringilla vel, aliquet nec, vulputate eget, arcu...
                    </p>
                    <button type="button" class="btn btn-red margin-top-15 btn-block btn-scroll btn-scroll-top fa-shopping-cart">
                        <span>Buy Now</span>
                    </button>
                </div>
                <div class="col-md-3 padding-bottom-25">
                    <h4 class="margin-bottom-25">Latest Tweet</h4>
                    <div class="twitter margin-bottom-15" id="tweet">
                        <i class="fa fa-twitter pull-left"></i>
                        <p class="padding-left-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                            <a href="#" class="time"> 12 Dec </a>
                        </p>
                    </div>
                    <div class="twitter margin-bottom-15" id="tweet">
                        <i class="fa fa-twitter pull-left"></i>
                        <p class="padding-left-30">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                            <a href="#" class="time"> 12 Dec </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 padding-bottom-25">
                    <div class="contact-details">
                        <h4 class="margin-bottom-25">Recent Posts</h4>
                        <ul class="posts">
                            <li>
                                <a href="#"> MVC directory structure </a>
                            </li>
                            <li>
                                <a href="#"> Dependency injection </a>
                            </li>
                            <li>
                                <a href="#"> Service vs Factory </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 padding-bottom-25">
                    <h4 class="margin-bottom-25">Follow Us</h4>
                    <div class="social-icons">
                        <ul>
                            <li class="social-twitter tooltips" data-original-title="Twitter" data-placement="bottom">
                                <a target="_blank" href="#"> Twitter </a>
                            </li>
                            <li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">
                                <a target="_blank" href="#" data-original-title="Facebook"> Facebook </a>
                            </li>-->
        <!--<li class="social-google tooltips" data-original-title="LinkedIn" data-placement="bottom">
            <a target="_blank" href="#" data-original-title="LinkedIn"> Google + </a>
        </li>-->
        <!--<li class="social-linkedin tooltips" data-original-title="LinkedIn" data-placement="bottom">
                                <a target="_blank" href="#" data-original-title="LinkedIn"> LinkedIn </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p style="color:#fff">
                            &copy; Copyright <span class="current-year"></span> by ConnectTo.Ai. All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <nav id="sub-menu">
                            <ul>
                                <li>
                                    <a href="#"> Terms Of Services </a>
                                </li>
                                <li>
                                    <a href="#"> Privacy Statement </a>
                                </li>
                                <li>
                                    <a href="#"> Contact </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- end: FOOTER -->
</div>
<!-- end: APP CONTENT -->
