@{
    ViewData["Title"] = "Talking Avatar";
    Layout = null;
}
<html>
<head>

</head>

<body>
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" myparam="Testing" data-payment_button_id="pl_NG4hprrR3jCb1G" async> </script> </form>
   @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {

            setTimeout(function () {
                console.log("1");
                //$('span[class= "razorpay-payment-button svelte-ohbfj8"]').hide();
                var razorBtn = $('DIV[class*="PaymentButton-contents"]');
                console.log("2");
                $(razorBtn).on("click", function () { });
                console.log("3");
                $(razorBtn).trigger("click");
                console.log("4");
            }, 1000);

        });
    </script> *@

</body>
</html>