@page "/ConfirmEmail"
@layout PublicLayout

@inherits BaseComponent
@using Microsoft.AspNetCore.WebUtilities
@using Newtonsoft.Json;
<h3>ConfirmEmail</h3>

<div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    @message
</div>

@code {

    string statusMessageClass = "success";
    string? message = "Email bas been varified successfully";
    protected async override void OnAfterRender(bool firstRender)
    {
        Uri uri = navigation.ToAbsoluteUri(navigation.Uri);

        Services.AuthService authService = new Services.AuthService(appSettings);
        HttpResponseMessage response = await authService.ConfirmEmail(uri);

        if (response.IsSuccessStatusCode)
        {
            var responseBody = await response.Content.ReadAsStringAsync();
            var mainResponse = JsonConvert.DeserializeObject<MainResponse>(responseBody);

            if (mainResponse != null && mainResponse.IsSuccess && mainResponse.Content != null)
            {
                //message = JsonConvert.DeserializeObject(mainResponse.Content.ToString(), typeof(string));
                message = mainResponse.Content.ToString();
                statusMessageClass = "success";
            }
            else
            {
                message = message = JsonConvert.DeserializeObject<string>(mainResponse.ErrorMessage);
                statusMessageClass = "danger";
            }
        }
    }
}
