@page "/ForgotPassword"
@layout PublicLayout
@inherits BaseComponent
<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="button" class="w-100 btn btn-lg btn-primary">Reset Password</button>

        <div style="margin-top:20px">
            <p>
                <a href="./Login">Login if you have account</a>
            </p>
        </div>

    </div>
</div>

@code {

 }