@page "/RegisterConfirmation"
@layout PublicLayout


@inherits BaseComponent
<h3>Register Confirmation</h3>
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    Please check your email to confirm your account.
</div>

@code {

}
