@page "/ResendEmailConfirmation"
@layout PublicLayout
@inherits BaseComponent
<h1>Resend email confirmation</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="name@example.com" />
            <label class="form-label">Email</label>
            <span class="text-danger"></span>
        </div>
        <button type="button" class="w-100 btn btn-lg btn-primary">Resend</button>

        <div style="margin-top:20px">
            <p>
                <a href="./Login">Login if you have account</a>
            </p>
        </div>
    </div>
</div>

@code {

}
